

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1"><meta http-equiv="Cache-Control" content="no-cache" /><meta http-equiv="Pragma" content="no-cache" /><meta http-equiv="Cache-Control" content="no-cache" /><meta http-equiv="Expires" content="-1" /><title>
	用戶登錄
</title>
    <style type="text/css">
        .style1
        {
            width: 100px;
            height: 25px;
        }
	
    </style>
</head>
<body style="text-align: center" >

    <form  name="form1" method="post"  action="./login.aspx" id="form1">
<div>
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUKMTg0NTYzMTk5MmQYAQUeX19Db250cm9sc1JlcXVpcmVQb3N0QmFja0tleV9fFgIFBmxvbmdpbgUJYWxsbG9uZ2lu9IDpnl7XocXfE4pcIUXsMmLjMVCQcjhGdZ+WjNJecMY=" />
</div>

<div>

	<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="EEC9D95F" />
	<input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="/wEWBQKX5Za3AQKCmtDXDALsi9PkCQKVlZXEBAKMs+CiB8w3t3zENDBSRHWrlcz25IxcbpBmF4QP1734hTaK5le0" />
</div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <table width="435" style="text-align: center">
            <tr>
                <td colspan="2">
                    <img alt="" height="130" src="images/login4.gif"
                        style="font-size: 12px; width: 435px" /></td>
            </tr>
            <tr>
                <td>
                    <img alt="" src="images/login_2.gif" style="width: 170px;" height="145" /></td>
                <td style="background-image: url(images/login_8.gif)">
                    <table>
                        <tr>
                            <td colspan="2">
                                <span style="font-size: 9pt"></span><span style="font-size: 9pt"></span>&nbsp;
                                <table>
                                    <tr>
                                        <td class="style1">
                                            <span style="font-size: 9pt">登錄用戶</span></td>
                                        <td class="style1">
                                <input name="TextBox_empNo" type="text" id="TextBox_empNo" style="width:130px;" /></td>
                                        <td class="style1">
                                </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 100px">
                                            <span style="font-size: 9pt">登錄密碼</span></td>
                                        <td style="width: 100px">
                                <input name="TextBox_password" type="password" id="TextBox_password" style="width:130px;" /></td>
                                        <td style="width: 100px">
                                </td>
                                    </tr>
                                </table>

                                </td>
                        </tr>
                        <tr>
                        <td>
                                <input type="image" name="longin" id="longin" src="images/login_9.gif" style="border-width:0px;" /></td>

                            <td>
                                <input type="image" name="alllongin" id="alllongin" src="images/login_10.gif" style="border-width:0px;" /></td>
                        </tr>
                        </table>
                    </td>

            </tr>
            <tr text-align=center>
                <td colspan="2" style="background-image: url(images/login_13.gif)">
                    <span style="font-size: 9pt">
                    申請作業請匿名登錄，簽核作業請按如下方式登錄<br />
                    1.台灣幹部臺干,請用派駐外干休假系統的賬號密碼登陸<br />
                    2.非臺干,請用域賬號密碼登陸（登陸電腦的賬號密碼）<br />
                    <br />
                    TEL:581-30922
                    <br />
                    <a href="mailto:EMAIL:yan-fen.nong@mail.foxconn.com">EMAIL:yan-fen.nong@mail.foxconn.com</a></span><br />
                    <br />
                </td>
            </tr>
        </table>
    </form>

</body>
</html>
